@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "Lalezar";
  src: local("LalezarMedium"),
  url("/pizza-shop/src/fonts/Lalezar.ttf") format("truetype");
}
@font-face {
  font-family: "Graphik";
  src: local("GraphikBold"),
  url("/pizza-shop/src/fonts/Graphik.otf") format("otf");
}
:root{
    font-family: "Graphik" !important;
    line-height: 1.5;

}
.title{
  font-size: 46px;
  font-family: "Graphik" !important;

}

